<html>
    <head>
        <title>Talk To Me - A Diary App</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
      
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div href="#" class="header item">
        <i class="pencil alternate icon"></i>
        Talk To Me
      </div>
      <a href="/diaries" class="item">Home</a>
      <a href="/diaries/new" class="item">New Diary</a>
    </div>
  </div>
